{% extends 'index.html' %}

{% load static %}

{% block codigoDinamico %}
    <html>
    <body>

    <h2>Buscar Agencia</h2>

    <form action="" method="get">

        <input type="text" name="nombre" id="nombre">

        <input type="submit" value="Buscar">

    </form> 
    </body>
    </html>
    {% if agencia %}

    <ul>
        {% for a in agencia %}

            <li>La Agencia {{a.nombre}} tiene como contacto a {{a.responsable}} y el telefono es {{a.telefono}} o el email {{a.email}} </li>
        
        {% endfor %}
        </ul> 

    {% else %}
        <p>No hay datos</p>
    {% endif %}

{% endblock %}        