{% extends 'index.html' %}

{% load static %}

{% block codigoDinamico %}
    <html>
    <body>

    <h2>Nueva Agencia</h2>

    <p>Complete los datos de la Agencia:</p>

    <form action="" method="post"> {% csrf_token %}
        <label for="fname">Nombre Agencia:</label><br>
        <input type="text" id="nombre" name="nombre"><br>
        <label for="fname">Nombre Responsable:</label><br>
        <input type="text" id="responsable" name="responsable"><br>
        <label for="fname">Email:</label><br>
        <input type="text" id="email" name="email"><br>
        <label for="fname">Telefono:</label><br>
        <input type="number" id="telefono" name="telefono"><br>
        

        <button type="submit" value="Registrar">Registrar</button><br>
    </form>
    </body>
    </html>
{% endblock %}    