{% extends 'index.html' %}

{% load static %}

{% block codigoDinamico %}
    <html>
    <body>

    <h2>Nuevo Tour</h2>

    <p>Complete los datos del Tour:</p>
    <form action="" method="post"> {% csrf_token %}
        <label for="fname">Nombre Tour:</label><br>
        <input type="text" id="nombre" name="nombre"><br>
        <label for="fname">Precio del Tour:</label><br>
        <input type="text" id="precio" name="precio"><br>
        <label for="cars">Capacidad:</label><br>
        <input type="text" id="capacidad" name="capacidad"><br>
        
        <button type="submit" value="Registrar">Registrar</button><br>
    </form>

    </body>
    </html>
{% endblock %}    